@import url('https://fonts.googleapis.com/css?family=Nunito:400,600,700');
@import url('https://fonts.googleapis.com/css2?family=VT323&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Serif+SC&family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Secular+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Black+Han+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Alata&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Prata&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

.App {
  text-align: center;
}

body {
  display: flex;
  padding: 0;
  margin: 0;
  font-family: 'Roboto', sans-serif;
  font-weight: 20;
  background-color: #583d72;
}

.snow {
  position: fixed;
  width: 100%;
  height: 100%;
  margin-top: -3130px;
}

.intro {
  position: absolute;
  margin-top: -3070px;
  left: 1.5vw;
  width: 100vw;
  height: 100vh;
}

.about, .sel, .side {
  font-family: 'Bebas Neue', cursive;
  position: absolute;
  font-size: 5.7vw;
  font-weight: 580px;
  letter-spacing: 3px;
  white-space: nowrap;
  color: #2c003e;
  left: 0%;
}

.about {
  top: -1420px;
}

.sel {
  top: -800px;
}

.side {
  top: 500px;
}

.intro-effect {
  position: absolute; 
  height: 65vh;
  display: block;
  overflow: auto;
  min-width: 100%;
  max-width: 100%;
}

.text {
  align-items: center;
  align-content: center;
  left: 78%;
}

.ta{
  position: relative;
}

.resume-effect {
  max-width: 100%;
  max-height: 100%;
  min-height: 7%;
  min-width: 30%;
  left: 35%;
  right: 35%;
  display: inline-block;
  margin-top: -2880px;
}

.resume {
  color: #ffe9d6;
  white-space: pre-wrap;
  text-decoration: none;
  font-size: 22px;
  max-width: 100%;
  height: auto;
  margin: auto;
  max-height:100%;
}

.resume:hover {
  color: #350c5c;
}

.resume-effect:hover {
  cursor: pointer;
  background-image: linear-gradient(to right, #ffd5cd, #efbbcf, #c3aed6, #8675a9);
}

.end p {
  font-size: 24px;
  text-align: center;
  position: relative;
  margin-top: -10%;
  margin-left: -5px;
  color: #2c003e;
  z-index: 1;
}

.end {
  margin-top: 3180px;
}

.leend {
  position: absolute;
  display: flex;
  width: 80%;
  left: 10%;
  right: 10%;
  float: center;
  margin-top: 150px;
  align-items: center;
  justify-content: center;
}

.effect, .effect:visited {
  font-size: 22px;
  color: #ffe9d6;
  font-weight: bolder;
  cursor: pointer;
}

.effect:hover {
  color: #2c003e;
}

.socials {
  margin-left: -100px;
  top: 20%;
  position: absolute;
  align-self: stretch;
  size: 10ch;
}

.titles {
  list-style: none;
}

.names {
  list-style-type: none;
  margin-top: 30px;
  left: 10vw;
  position: absolute;
}

.introduction {
  color: black;
  position: absolute;
  top: 4.5%;
  width: 90%;
  font-size: 24px;
}

.select {
  position: absolute;
  top: 26.4%;
  width: 90%;
}

.showcase {
  position: absolute;
  top: 72%;
  left: 6%;
  right: 6%;
  width: 100vw;
  height: 100vw;
}

.side-effect {
  width: 70vw;
  height: 50vw;
}

.slides {
  width: 70vw;
  height: 20vw;
}

.labels {
  color: #915791;
  margin: auto;
  max-width: 90vw;
  max-height: 50vw;
}

.para {
  color: #2c003e;
  margin-left: 15px;
  text-align: start;
}

a, a:hover, a:link, a:active, a:visited {
  text-decoration: none;
}

.para a, .para a:visited, .para a:hover, .para a:link, .para a:active {
  color: #00464d;
  font-weight: 80;
}

.cover {
  position: absolute;
  display: flex;
  width: 80%;
  left: 10%;
  right: 10%;
  margin-top: -2750px;
  float: center;
  align-items: center;
  justify-content: center;
}

.endlinks {
  position: absolute;
  bottom: 12%;
  max-width: 100%;
}

.links { 
  max-width: 10%;
  max-height: 10%;
  margin-left: 4%;
  float: center; 
  -webkit-transition: 0.6s ease-out;
  -moz-transition: 0.6s ease-out;
  transition: 0.6s ease-out;
}

.links:hover {    
  -webkit-transform: rotateZ(720deg);
  -moz-transform: rotateZ(720deg);
  transform: rotateZ(720deg);
}

.commarket {
  position: absolute;
  display: block;
  overflow: auto;
  margin-top: 795px;
  width: 100%;
  height: 90px;
  text-align: start;
  border-radius: 4px;  
  font-family: 'Playfair Display', serif;
  font-size: 40px;
  font-weight: bolder;
  color: #efbbcf;
  background-color: #583d72;
}

.comtel-title {
  left: 3%;
  position: absolute;
  margin-top: 7px;
  font-weight: bolder;
}

.composition {
  position: absolute;
  background-color: #9f5f80;
  margin-top: 870px;
  width: 100%;
  height: 35vh;
  border-radius: 8px;
}

.sales {
  position: absolute;
  color: #b2deec;
  left: 3%;
  margin-top: 1px;
  font-size: 35px;
  font-family: 'Noto Serif SC', serif;
  font-weight: lighter; 
}

.com-desc {
  position: absolute;
  background-color: #f9bcdd;
  display: block;
  overflow: auto;
  min-width: 100%;
  max-width: 100%;
  height: 36vh;
  margin-top: 920px;
  border-radius: 8px;
}

.sales-desc {
  position: absolute;
  font-family: 'Roboto', sans-serif;
  color: #2c003e;
  font-size: 23px;
}

.feminstem {
    position: absolute;
    display: block;
    overflow: auto;
    margin-top: 400px;
    width: 100%;
    height: 90px;
    text-align: start;
    border-radius: 4px;  
    font-family: 'Playfair Display', serif;
    font-size: 40px;
    font-weight: bolder;
    color: #efbbcf;
    background-color: #583d72;
}

.feminstem-title {
  left: 3%;
  position: absolute;
  margin-top: 7px;
  font-weight: bolder;
}

.femposition {
  position: absolute;
  margin-top: 477px;
  background-color: #9f5f80;
  width: 100%;
  height: 35vh;
  border-radius: 8px;
}

.fem-mentor {
  position: absolute;
  color: #b2deec;
  left: 3%;
  margin-top: 1px;
  font-size: 35px;
  font-family: 'Noto Serif SC', serif;
  font-weight: lighter; 
}

.fem-desc {
  position: absolute;
  background-color: #f9bcdd;
  display: block;
  overflow: auto;
  min-width: 100%;
  max-width: 100%;
  height: 35vh;
  margin-top: 525px;
  border-radius: 8px;
}

.mentor-desc {
  position: absolute;
  font-family: 'Roboto', sans-serif;
  color: #2c003e;
  font-size: 23px;
}

.linkfem {
  margin-top: 2%;
}

.linkfem a {
  color: #b2deec;
  font-weight: bold;
  border-style: solid;
  float: center;
  border-width: 4px;
  border-color: #0a043c;
}

.linkfem a:hover {
  color: rgb(0, 0, 0);
}

.fem {
  font-family: 'Nunito', sans-serif;
  text-transform: uppercase;
  font-size: 19px;
  font-weight: bold;
  background-color: #000000;
  border-radius: 4px;  
  color: rgb(255, 255, 255);
  cursor: pointer;
  padding: 8px 16px;
  margin-top: 50px;
  float: inline-end;
  white-space: nowrap;
  position: relative;
}

.uoft {
  position: absolute;
  display: block;
  overflow: auto;
  margin-top: -3px;
  width: 100%;
  height: 90px;
  text-align: start;
  border-radius: 4px;  
  font-family: 'Playfair Display', serif;
  font-size: 40px;
  font-weight: bolder;
  color: #efbbcf;
  background-color: #583d72;
}

.uoft:hover, .position:hover, .uoft-desc:hover, .feminstem:hover, .femposition:hover, .fem-desc:hover, 
.commarket:hover, .composition:hover, .com-desc:hover {
	animation: bounce 1s;
}

.uoft-title {
  left: 3%;
  position: absolute;
  margin-top: 7px;
  font-weight: bolder;
}

.uoft-date {
  position: absolute;
  margin-top: 4px;
  font-size: 20px;
  font-weight: bold;
}

.uoft-ta {
  position: absolute;
  color: #b2deec;
  left: 3%;
  font-size: 35px;
  font-family: 'Noto Serif SC', serif;
  font-weight: lighter; 
}

.uoft-desc {
  position: absolute;
  background-color: #f9bcdd;
  display: block;
  overflow: auto;
  min-width: 100%;
  max-width: 100%;
  height: 35vh;
  margin-top: 130px;
  border-radius: 8px;
}

.ta-desc {
  position: absolute;
  font-family: 'Roboto', sans-serif;
  color: #2c003e;
  font-size: 23px;
}

.position {
  position: absolute;
  background-color: #9f5f80;
  margin-top: 75px;
  width: 100%;
  height: 35vh;
  border-radius: 8px;
}

.subject {
  background-color: #ffffff;
  position: relative;
  width: 30%;
  margin-left: 300px;
  height: 35px;
  border-radius: 6px;
}

.topic {
  background-color: #ffffff;
  position: relative;
  width: 30%;
  height: 35px;
  border-radius: 6px;
}

.femin-subject2 {
  background-color: #ffffff;
  position: absolute;
  margin-top: -1px;
  margin-left: 27px;  
  width: 170px;
  height: 35px;
  border-radius: 6px;
}

.linka08 {
  margin-top: 2%;
}

.linka08 a {
  color: #b2deec;
  font-weight: bold;
  border-style: solid;
  float: center;
  border-width: 4px;
  border-color: #0a043c;
}

.linka08 a:hover {
  color: rgb(0, 0, 0);
}

.a08 {
  font-family: 'Nunito', sans-serif;
  text-transform: uppercase;
  font-size: 19px;
  font-weight: bold;
  background-color: #000000;
  border-radius: 4px;  
  color: rgb(255, 255, 255);
  cursor: pointer;
  padding: 8px 16px;
  margin-top: 50px;
  float: inline-end;
  white-space: nowrap;
  position: relative;
}

.uoft-subject, .femin-subject1, .femin-subject2 {
  font-family: 'VT323', monospace;
  color: #45196e;
  font-size: 35px;
}

.name1, .name2, .name3 {
  font-size: 20px;
  position: absolute;
  display: block;
  overflow: auto;
  font-weight: bold;
}

.slogan {
  max-width:100%;
  height: auto;
  max-height:100%;
}

.a08:hover, .fem:hover {
  background-image: linear-gradient(to right, #bedcfa 33.3%, #98acf8 66.6%, #b088f9 33.3%, #da9ff9 16.65%);
  animation: slidebg 2s linear infinite;
}

.rec-carousel-item:focus {
  outline: none;
  box-shadow: inset 0 0 1px 0px pink;
}

.slidetitle {
  background-image: linear-gradient(to right, #ffd5cd, #efbbcf, #c3aed6, #8675a9);
  position: absolute;
  border-radius: 5px;
  font-family: 'Secular One', sans-serif;
  position: absolute;
  font-weight: bold;
  font-size: 3.5vw;
  letter-spacing: 7px;
  animation: glow .5s infinite alternate;
  max-width: 50%;
  height: auto;
  max-height: 50%;
  white-space: pre-wrap;
}

.glow {
  text-align: center;
  -webkit-animation: glow 1s ease-in-out infinite alternate;
  -moz-animation: glow 1s ease-in-out infinite alternate;
  animation: glow 1s ease-in-out infinite alternate;
}

@keyframes glow {
  to {
      text-shadow: 0 0 30px #ff8e71;
  }
}

@keyframes slidebg {
  to {
    background-position:20vw;
  }
}

@keyframes bounce {
	0%, 20%, 60%, 100% {
		-webkit-transform: translateY(0);
		transform: translateY(0);
	}

	40% {
		-webkit-transform: translateY(-20px);
		transform: translateY(-20px);
	}

	80% {
		-webkit-transform: translateY(-10px);
		transform: translateY(-10px);
	}
}

.overlay {
  position: fixed;
  margin-top: 0px;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100vw;
  height: 100vw;
  transition: opacity 500ms;
  visibility: hidden;
  opacity: 0;
}

.overlay:target {
  visibility: visible;
  opacity: 1;
}

.popup {
  padding: 30px;
  width: 500px;
  background: #cdf9ff;
  border-radius: 5px;
  transition: all 3s ease-in-out;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.popup h2 {
  margin-top: 0;
  letter-spacing: 3px;
  font-size: 25px;
  color: rgb(0, 0, 0);
  font-family: 'Black Han Sans', sans-serif;
}

.popup .close {
  position: absolute;
  margin-top: -70px;
  margin-left: 42%;
  transition: all 200ms;
  font-size: 40px;
  border-radius: 60px;
  font-weight: bold;
  text-decoration: none;
  color: rgb(37, 4, 75);
}

.popup .close:hover {
  color: #c49fff;
}

.popup .content {
  max-height: 30%;
  font-size: 15px;
  font-family: 'Prata', serif;
  overflow: auto;
}

@media screen and (max-width: 700px){
  .box{
    width: 70%;
  }
  .popup{
    width: 70%;
  }
}

.tech {
  color: #45046a;
  font-weight: bold;
}

.projectlink {
  margin-left:-40px;
  margin-top: -60px;
}

.navbar {
  list-style-type: none;
  position: fixed;
  z-index: 1;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #9f5f8093;
  top: -5px;
  width: 100%;
  padding-right: 5%;
  text-decoration: none;
}

.navbar li {
  float: right;
  padding-right:1 0px;
  text-decoration: none;
}

.navbar li a {
  display: block;
  color: #b2deec;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.navbar li a:hover {
  color: #13dceb;
  transition: all 0.5s ease-in;
}

.navbar .logo {
  float: left;
  margin-top: 5px;
  padding-left: 2%;
}

.sideimage {
  max-width: 100%;
  height: 100%;
  max-height: 100%;
}

.enjoy {
  max-width: 100%;
  height: auto;
  max-height: 100%;
}

.credits {
  font-size: 15px;
  position: absolute;
  color: #ffe9d6;
  margin-top: 400px;
  float: center;
  left: 25%;
  width: 50%;
}

.credits p {
  text-align: center;
}
